<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <style>
        body {
            padding-top: 50px;
        }

        .starter-template {
            padding: 40px 15px;
            text-align: center;
        }

        #custom-search-input{
            padding: 3px;
            border: solid 1px #E4E4E4;
            border-radius: 6px;
            background-color: #fff;
        }

        #custom-search-input input{
            border: 0;
            box-shadow: none;
        }

        #custom-search-input button{
            margin: 2px 0 0 0;
            background: none;
            box-shadow: none;
            border: 0;
            color: #666666;
            padding: 0 8px 0 10px;
            border-left: solid 1px #ccc;
        }

        #custom-search-input button:hover{
            border: 0;
            box-shadow: none;
            border-left: solid 1px #ccc;
        }

        #custom-search-input .glyphicon-search{
            font-size: 23px;
        }
    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">PolySearch</a>
        </div>
        <div class="collapse navbar-collapse" th:switch="${role}">
            <ul class="nav navbar-nav">
                <li ><a href="/">Accueil</a></li>
                <ul class="nav navbar-nav" th:case="'USER'">
                    <li><a href="creer.html">Créer Communauté</a></li>
                    <li><a href="rejoindre.html">Rejoindre Communauté</a></li>
                </ul>
                <ul class="nav navbar-nav" th:case="'RESPONSABLE'">
                    <li><a href="deleteOrUpdateCommunaute.html">Gérer Communauté</a></li>
                    <li><a href="gererDemandes.html" th:text="${'(' + nbDemandes + ') Demandes'}"></a></li>
                </ul>
                <li th:case="'MEMBRE'"><a th:href="@{/QuiteCommunaute}" th:text="'Quitter ' + communaute" ></a></li>
                <li class="active"><a href="compte.html" th:text="${user.getUsername()}"></a></li>
                <li><form class="form-horizontal" th:action="@{/logout}" method="POST" style="horiz-align: center;">
                    <input type="submit" value="Logout" />
                </form></li>
            </ul>

        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container">

    <div class="row">
        <div align="left">
            <h2>PolySearch</h2>
            <h4>Mon Compte</h4>
            <div align="center">
            <form th:action="@{/UpdateCompte}" method="POST" style="display: inline-block">
                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">Username :</label>
                    <div class="col-10">
                        <input name="username" disabled="true" th:value="${user.getUsername()}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input">Nom : </label>
                    <div class="col-10">
                        <input name="nom" id="nom" th:value="${user.getNom()}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input">Prenom : </label>
                    <div class="col-10">
                        <input name="prenom" id="prenom" th:value="${user.getPrenom()}"/>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Modifier</button>
            </form>
            <form th:action="@{/UpdatePassword}" method="POST" style="display: inline-block; margin-left: 300px;">
                <div class="form-group row">
                    <label for="example-text-input">Nouveau Mot de passe : </label>
                    <div class="col-10">
                        <input type="password" name="newPassword" id="newPassword" />
                        <span style="color: red;" th:hidden="${pni}" >Mots de Passe non identiques</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input">Confirmation Mot de passe : </label>
                    <div class="col-10">
                        <input type="password" name="confPassword" id="confPassword" />
                    </div>
                </div>
                <!--<div class="form-group row">
                    <label for="example-text-input">Date de Naissance : </label>
                    <div class="col-10">
                        <input type="date" name="dateNaissance" th:value="${user.getDateNaissance()}" />

                    </div>
                </div>-->
                <button type="submit" class="btn btn-primary">Modifier</button>

            </form>
            </div>
        </div>
    </div>

</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>